p{
    color:blue;
}
.list-1{
    list-style: none;
}
.text-font{
    font-size: 14px;
}
.login-style{
    text-decoration: none;
}
.pointer{
    cursor: pointer;
}
.card-image{
    max-width: 100%;
    object-fit: cover;
    width:auto;
}